.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__item {
        width: 40px;
        height: 40px;
        border: 4px solid #ccc;
        border-top-color: #1f51e6;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}