.product-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px, solid black;
    padding: 20px;
    gap: 15px;

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0;
    }

    
}