.product-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;


    &__img-container{
        border: 1px solid rgb(34, 34, 157);
        overflow: hidden;
    }

    &__img{
        width: 200px;
        height: 250px;
        object-fit: contain;
        transition: transform 0.3s ease-in-out;

        &:hover{
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }

    &__title-link{
        text-decoration: none;
        color: black;
        align-self: center;

        &:hover{
            color: rgb(205, 29, 29);
        }
    }

    &__button{
        height: 30px;
        border: 1px solid;
        border-radius: 10px;

        &:hover{
            background-color: rgb(111, 111, 255);
            border: rgb(111, 111, 255);
            color: white;
        }
    }
}